.wrapper {
  margin-top: 50px;
  padding: 10px;
  background: #ccc;
  border-radius: 20px;
}
.margin-10 {
  margin: 10px;
}
.margin-5 {
  margin: 5px;
}
label {
  font-weight: bold;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0.2em;
}
#keyboard-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1f1f1f;
  visibility: hidden;
  text-align: center;
}

#keyboard-keys {
  text-align: center;
}
